<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaclimb.service.edu.mapper.CourseMapper">

    <sql id="tables">
        edu_course c
        LEFT JOIN edu_subject s1 ON c.subject_parent_id = s1.id
        LEFT JOIN edu_subject s2 ON c.subject_id = s2.id
        LEFT JOIN edu_teacher t ON c.teacher_id = t.id
    </sql>

    <select id="selectCoursePublishVoById" resultType="com.javaclimb.service.edu.entity.vo.CoursePublishVo">
        select c.title,c.cover,c.lesson_num as lessonNum,c.price,s1.title as subjectLevelOne,s2.title as subjectLevelTwo,t.name as teacherName
        from
        <include refid="tables"/>
        where c.id=#{id}
    </select>

    <select id="selectPageByCourseQueryVo" resultType="com.javaclimb.service.edu.entity.vo.CourseVo">
        select c.id,
        c.title,c.cover,c.lesson_num as lessonNum,c.price,s1.title as subjectParentTitle,s2.title as subjectTitle,t.name as teacherName,c.buy_count as buyCount,c.view_count as viewCount,c.`status`,c.gmt_create as gmtCreate,c.gmt_modified as gmtModified
        from
        <include refid="tables"/>
        ${ew.customSqlSegment}
    </select>

    <select id="selectInfoWebById" resultType="com.javaclimb.service.edu.entity.vo.CourseWebVo">
        select c.id,c.title,c.cover,c.lesson_num as lessonNum,c.price,
        buy_count as buyCount,view_count as viewCount,
        s1.id as subjectLevelOneId,s1.title as subjectLevelOne,
        s2.id as subjectLevelTwoId,s2.title as subjectLevelTwo,
        t.id as teacherId,
        t.name as teacherName,
        t.intro as intro,
        t.avatar as avatar,
        cd.description
        from
        edu_course c
        LEFT JOIN edu_subject s1 ON c.subject_parent_id = s1.id
        LEFT JOIN edu_subject s2 ON c.subject_id = s2.id
        LEFT JOIN edu_teacher t ON c.teacher_id = t.id
        LEFT JOIN edu_course_description cd ON c.id = cd.id
        where c.id=#{id}
    </select>
    <select id="selectCourseDtoById" resultType="com.javaclimb.service.base.dto.CourseDto">
        select c.id,c.title,c.cover,c.price,
        t.name as teacherName
        from
        edu_course c
        LEFT JOIN edu_teacher t ON c.teacher_id = t.id
        where c.id=#{id}
    </select>

</mapper>
